* {
  margin: 0px;
  font-family: Arial;
  /* abb border box ki height or weight ke andar rahega normally pehle height lag jati hai then border apne dimentions extra laga deta hai */
  border: border-box;
}

body {
  background-color: #E3E6E6;
  height: 3300px;
}


.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  flex-direction: row;
  /* navbar mein saare element cross Y axis ke centre mein */
  align-items: center;

  /* to spread elements evenly */
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}

/* box 1 */

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  /* correct way to give path when in same folder */
  background-image: url("Images/amazon_logo.png");
  background-size: cover;

  height: 50px;
  width: 100%;
}


.border {
  /* isse hover karne pe navbar ke saare elements shift ni honge border ke aane se then hum color de denge */
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
  border-radius: 6px;
}

/* box 2 */

.nav-address {
  /* for same border dimentions as box 1 */
  /* margin-left: 20px; */
  padding: 8px;
}

.add-icon {
  display: flex;
  flex-direction: row;
}

.add-first{
  color: #CCCCCC;
  /* rem (parent element) ke respect mein style karte hain jisse website responsive baane resize karne pe wo element bhi resize ho */
  font-size: 0.8rem;
  margin-left: 24px;
}

.add-sec{
  color: white;
  font-size: 1rem;
  margin-left: 3px; 
}


/* box 3 */

.nav-search {
  /* margin-left: 50px; */
  display: flex;
  justify-content: space-evenly;
  width: 858px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid transparent;
}

.nav-search:hover {
  border: 2px solid #ffb648;
}


.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; 
  border: none;
}

.search-input {
  width: 100%;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 15px;
  border: none;
}

.search-icon {
  display: flex;

  /* horizontally center */
  justify-content: center;
  /* vertically center */
  align-items: center;

  background-color: #ffb648;
  width: 45px;
  height: 40px;
  /* making search icon bigger */
  font-size: 1.3rem;

  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; 

  /* color to the icon */
  color: #0f1111;
}


/* box 4 */
.nav-flag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 14px;
  cursor: pointer;
  color: white;
}

.flag {
  /* correct way to give path when in same folder */
  background-image: url("Images/usflag.webp");
  background-size: cover;

  height: 16.2px;
  width: 21.6px;
}

.nav-flag-text {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial;
}

.arrow {
  font-size: 10px;
  color: white;
}

.lang-select:hover {
  background-color: #232f3e;
}


/* box 5 And 6 */

.nav-return {
  padding: 5px;
}
.nav-signin {
  padding: 5px;
}

span {
  font-size: 12px;
}

.nav-second {
  font-size: 14px;
  font-weight: 700;
}


/* box 7 */

.nav-cart i {
  font-size: 26px;
}

.nav-cart {
  font-size: 14px;
  padding: 7px;
  font-weight: 600;
}


/* PANEL */

.panel {
  display: flex;
  height: 40px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-all {
  width: 50px;
  padding: 8px;
}

.panel-ops p {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.panel-ops {
  width: 80%;
}

.panel-ops-text {
  padding: 8px;
}

.panel-deals {
  width: 180px;
  padding: 8px;
  font-weight: 530;
}



/* hero section */ 

.hero-section  {
  background-image: url("Images/hero_image.jpg");
  background-size: cover;
  height: 550px;
  width: 99%;
  position: relative;
  left: 7px;
}

.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; /* how tall the fade should be */
  background: linear-gradient(to bottom, rgba(227, 230, 230, 0) 0%, rgba(227, 230, 230, 1) 100%);
  pointer-events: none; /* ensures clicks go through */
}


.hero-message {
  height: 50px;
  width: 1400px;
  display: flex;
  position: absolute;
  top: 380px;
  left: 70px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.links {
  text-decoration: none;
  color: rgb(33, 98, 161);
}

.links:hover {
  text-decoration: underline;
  color: rgb(0, 56, 111);
}


/* Shop Section */

h2:hover {
  font-size: 25px;
}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.container {
  width: 350px;
  height: 385px;
  background-color: white;
  /* display: flex; */
  padding: 20px 0px 15px;
}

.box-link {
  position: relative;
  top: 25px;
}

.box-img {
  width: 310px;
  height: 300px;
  position: relative;
  top: 10px;
  background-size: cover;
}

.box-content {
  margin-left: 20px;
  margin-right: 10px;
}

/* Books section */
.section-three {
  width: 97%;
  height: 290px;
  background-color: white;
  position: relative;
  left: 25px;
  margin-bottom: 50px;
}

.heading1 {
  position: relative;
  top: 15px;
  left: 42px;
}

.bookbox {
  display: flex;
  direction: row;
  width: 97%;
  height: 220px;
  position: relative;
  top: 25px;
  left: 20px;
  justify-content: space-evenly;
}

.books {
  width: 133px;
  height: 200px;
  background-size: cover;
}


.section-four {
  width: 97%;
  height: 290px;
  background-color: white;
  position: relative;
  left: 25px;
  margin-bottom: 50px;
}

.heading2 {
  position: relative;
  top: 15px;
  left: 48px;
}

.decobox {
  display: flex;
  direction: row;
  width: 97%;
  height: 220px;
  position: relative;
  top: 25px;
  left: 20px;
  justify-content: space-evenly;
}

.decos {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.more {
  font-family: Arial;
  font-size: 16px;
  position: relative;
  top: 8px;
  left: 50px
}


/* footer */

.register {
  height: 160px;
  background-color: white;
  border: 2px solid rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.recom {
  font-size: 20px;
  margin-bottom: 8px;
}

.button1 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 222px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  background-color: #ffb648;
  margin-bottom: 4px;
}

.button1:hover {
  background-color: #ec8e00;
}

.button1:active {
  width: 230px;
}

.newcustomer {
  font-size: 11px;
}

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
}

.foot-panel2 a {
  color: white;
  text-decoration: none;
}

.foot-panel2 a:hover {
  text-decoration: underline;
}

ul {
  position: relative;
  top: 50px;
  margin-left: 80px;
}

ul p {
  font-weight: 700;
}

ul a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 100;
}


/* foot panel 3 */
.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 88px;
  display: flex;
  justify-content: center;
}

.logobase {
  background-image: url("Images/amazon_logo.png");
  background-size: cover;

  height: 50px;
  width: 100px;
  position: relative;
  top: 13px;
}

.bottombutton {
  position: relative;
  top: 20px;
  left: 18px;
  font-weight: 100;
}

.btmbtn {
  width: 132px;
  height: 34px;
  border: 0.5px solid rgb(168, 157, 157);
  background-color: #222f3d;
  color: rgb(168, 157, 157);
}

.btmbtn2 {
  width: 140px;
  height: 34px;
  border: 0.5px solid rgb(168, 157, 157);
  background-color: #222f3d;
  color: rgb(168, 157, 157); 
}




/* FOOTER SERVICE GRID */
.foot-panel4 {
  background-color: #131A22;
  color: #ddd;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.footer-grid {
  width: 80%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px 20px;
  position: relative;
  left: 50px;
}

.footer-grid .f-col h4 {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
}

.footer-grid .f-col p {
  font-size: 12px;
  line-height: 1.3;
  color: #ccc;
}

.footer-grid .f-col:hover h4 {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* foot panel 5 */

.foot-panel5 {
  height: 100px;
  width: 100%;
  background-color: #131A22;
  display: flex;
}

.line1 {
  height: 30px;
  width: 100%;
}

.line1 ul {
  margin: 0px;
  display: flex;
  position: relative;
  left: 27%;
  top: 30px;
}

.line1 a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-left: 14px;
}

.line1 a:hover {
  text-decoration: underline;
}

.line2 {
  position: relative;
  left: 41%;
  top: 32px;
  font-size: 12px;
  color: white; 
}